{% extends "slicer/base.html" %}

{% block "content" %}
<div id='image_series_header_container'>
  <img src='../../../media/static/download.png'>
  <h1 id="image_series_header">Choose Patient File</h1>
</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col" >Patient ID</th>
      <th scope="col">Study UID</th>
      <th scope="col">Series UID</th>
      <th scope="col">Dimensions</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for series in all_image_series %}
    <tr>
      <td>{{ series.patient_id }}</td>
      <td>{{ series.study_uid }}</td>
      <td>{{ series.series_uid }}</td>
      <td>{{ series.voxels.shape }}</td>
      <!-- TODO: make these links point somewhere -->
      <!-- this points to a dynamic url '/series.id' -->
      <td><a href="{% url 'image_slider' series.id %}" style='color: white'>View</a></td>  
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{{"<h1>${header}</h1>"}}
<h1>${header}</h1>